*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box; 
    /* overflow-x: hidden; */
}
.body{
    background-color:  rgba(39, 227, 227, 0.249) ;
}
.wallet{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
}
.mobile_img{
    position: absolute;
    margin-left:80%;
    z-index: 1;
    margin-top: 50px;
}
@media screen and (max-width: 600px) {
    .mobile_img{
     display: none;
    }
    
}

.wallet_color{
    /* background-color: rgb(237, 105, 23); */
    margin-left: 10px;
    color: white;
}
.span{
    background-color:rgb(237, 105, 23) ;
}
.mobile_content{
    margin-left: 50px;
    font-size: 30px;
    margin-top:70px ;
    color: rgba(0, 255, 255, 0.3);
    font-weight: 500;
}
.header_left_content{
    background-color:  rgb(229, 96, 25);
    padding-bottom: 100px;
    border-radius: 30px 0px 0px 30px;
}
@media screen and (max-width: 600px) {
    .header_left_content{
        background-color:  rgba(43, 231, 231, 0) ;
    }
}
.go_ceshless{
    font-size: 50px;
    color: white;
    font-weight: 700;
    padding-top:70px;
    padding-left: 80px;
    text-shadow: 5px 5px 1px rgb(150, 64, 3);
}
.menu_icon{

    padding-top: 15px;
    padding-right: 15px;
    text-align: end;
}
.header_list{
    color: white;
    padding-top:20px;
    padding-left: 100px;
}
.button{
    background-color: black;
    color: white;
    padding: 10px 10px;
    
}
.header_last_content{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
.text_color{
    color:rgb(237, 105, 23) ;
}

/* section part  */

.section_block{
    align-items: center;
    background-color: rgb(190, 188, 188);
    border-radius: 30px;
    padding: 50px;
}
.pay_img{
    text-align: center;
}
.support_text{
    font-size: 20px;
    text-align: center;
}
.lorem_text{
    opacity: 0.5;
    text-align: center;
}
.mid_text{
    font-size: 30px;
    font-weight: 700;
}
.m_color{
    color:rgb(237, 105, 23) ;

}
.m_lorem_text{
    opacity: 0.5;
    padding-bottom: 10px;
}
.btn{
    
    background-image: linear-gradient( rgba(190, 188, 188), rgb(250, 72, 7));

}
.mobile_imge{
    transform: rotate(-40deg);
    margin-left: 25%;

}
.video{
    padding-left: 80px;
}
.midd_text{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}
.m_content{
    opacity: 0.8;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

